header {
    text-align: center;
}

h2 {
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    margin-bottom: 2px;
    color: #404040;
}

.tagline {
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    margin-bottom: 2px;
    color: #8c8c8c;
}

svg {
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}